body {
  background-image: url('../img/stethoscope.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: large;
}

h1 {
  background-color: #ff003b;
  color: white;
  padding: 12px;
}
.results {
  background: rgba(255,255,255,0.7);
  display: none;
}

.contact {
  background-color: tan;
  border-radius: 5px;
  display: none;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 2px;
  padding-bottom: 2px;
}
